<launch>

<node name="speaking_numbers_node1" pkg="my_ros_nodes" type="counting.py" output="screen" >
  <param name="speech_rate" type="int" value="1" />

</node>

<node name="speaking_numbers_node2" pkg="my_ros_nodes" type="counting.py" output="screen">
  <param name="speech_rate" type="int" value="2" />
</node>


<node name="receiving_numbers_node1" pkg="my_ros_nodes" type="getStatistics.py" output="screen">
  <remap from ="~speaking_numbers" to ="/speaking_numbers_node1/speaking_numbers" />
</node>

<node name="receiving_numbers_node2" pkg="my_ros_nodes" type="getStatistics.py" output="screen">
  <remap from ="~speaking_numbers" to ="/speaking_numbers_node2/speaking_numbers" />
</node>
</launch>

